.header{
  align-items: center;
  background-color: #555;
  display: flex;
  flex-shrink: 0;
  height: 6.0rem;
  justify-content: space-between;
  padding: 0 3.0rem;

  &__siteName{
    color: #fff;
    font-size: 2.5rem;
    margin: 0px;
  }

  &__right{
    align-items: center;
    display: flex;

    &__loginUser{
      color: #fff;
      font-size: 1.5rem;
    }

    &__logoutLink {
      font-size: 1.8rem;
      margin: 0 0 0 2.0rem;

      &--anchor {
        align-items: center;
        color: #ddd;
        display: flex;
        text-decoration: none;
      }

      &--img {
        display: block;
        fill: white;
        height: 1.8rem;
        margin-right: 0.7rem;
        transform: rotate(180deg);
        width: 1.8rem;
      }
    }
  }
}
