.row{
  align-items: center;
  border-top: 1px solid #777;
  display: flex;
  height: 6.0rem;
  list-style: none;
  padding: 0;

  &__readButton {
    align-items: center;
    background-color: #7979ff;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    font-size: 1.6rem;
    height: 4.0rem;
    justify-content: center;
    text-decoration: none;
    width: 10.0rem;
  }

  &__editButton {
    align-items: center;
    background-color: #008612;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    font-size: 1.6rem;
    height: 4.0rem;
    justify-content: center;
    margin-left: 2.0rem;
    text-decoration: none;
    width: 10.0rem;
  }

  &__item{
    max-width: 50.0rem;
    min-width: 17.0rem;
    padding-left: 1.0rem;
    width: 20%;

    &--thin{
      @extend .row__item;
      width: 8.0rem;
      min-width: 8.0rem;
    }

    &--title{
      @extend .row__item;
      font-size: 1.8rem;
      font-weight: bold;

      &--thin{
        @extend .row__item--thin;
        @extend .row__item--title;
      }
    }
  }
}
