.sideBar{
  background-color: #777;
  width: 15%;
  max-width: 20.0rem;
  min-width: 15.0rem;

  &__list{
    list-style: none;
    padding: 0;

    &__item{
      font-size: 1.6rem;
      height: 4.0rem;
      margin: 0 auto;
      width: 12.0rem;

      & + &{
        border-top: 1px solid #ddd;
      }
      &-link{
        color: #ddd;
        display: block;
        height: 4.0rem;
        line-height: 4.0rem;
        text-decoration: none;
      }
    }
  }
}
